* {
    /* border: 1px solid green; */
    font-family: 'Lexend Giga', sans-serif;
    text-align: center;
  }

body{
    font-family: 'Crimson Pro', serif;
}

.pic{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section{
    margin: 7%;
}

.faci-titles{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h5{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 150px;
}

h3{
    font-weight: bold;
    margin-bottom: 260px;
}

/*navbar css*/
#siddiq_logo, #iium_logo {
    width: 65px;
    height: 65px;
    margin: 0px 10px;
}
  
.navbar .navbar-nav .nav-item a{
    padding: 5px 20px;
    margin: 0px 10px;
}
  
.navbar .navbar-nav .nav-item a:hover{
    color: blue;
}
  
.navbar .navbar-nav .nav-item a.active{
    background-color: blue;
    color: white;
    border-radius: 5px;
}
  
.navbar .navbar-nav{
    text-align: center;
}
/*end of navbar*/
  
/*footer css*/
footer{
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
footer #siddiq_logo_footer{
    width: 65px;
    height: 65px;
    background-color: black;

}
  
footer .contact_number .contact{
    color: white;
    background-color: black;
    margin: 0px;
}
/* end of footer */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }